<!DOCTYPE html>
<html>
	<head>
		<title>BABB Frontend Prototype</title>		
		<link href="stylish.css" rel="stylesheet">		

	</head>
	
	<body>    

    <script type="text/template" id="roms-collection-template">
      <% _.each(roms, function(rom){%>
        <div class="rom">          
          <span><b><%= rom.title %></b></span>
          <span><%= rom.path %></span>
        </div>
      <%})%>      
    </script>
      
		<div class="single">
      <input id="pathToSniff" type="text"/>
			<a href="javascript:doSniff()" class="std_button">Sniff da directory !</a>
      <div id="roms-container">
      </div>
		</div>
	</body>
  		<script type="text/javascript" src="./js/vendor/jquery-1.9.0b1.js"></script>
		<script type="text/javascript" src="./js/vendor/underscore.js"></script>
		<script type="text/javascript" src="./js/vendor/backbone.js"></script>
		<script type="text/javascript" src="main.js"></script>
</html>
