<html>
	<head>
		<title>BABB Frontend Prototype</title>
		<link href="stylish.css" rel="stylesheet">
    <link id = "CSS-Platform" href="" rel="stylesheet">
	</head>

	<body>
    
    <div id="intro-overlay">
      <img id="intro-logo" src="./images/logo.gif">
    </div>
    
    <div id="dynabody">
    </div>
		
    <div id="bandana">
      <!--<input id="pathToSniff" type="text" value="c:\"/>
			<a href="javascript:Controller.doSniff()" class="std_button">do it !</a>      -->
		</div>    
    
    <ul id="platforms-container" class=cards></ul>
    
    <ul id="roms-container" class=cards></ul>
    
    <script type="text/template" id="platforms-collection-template">
      <% _.each(platforms, function(platform){%>
        <li id="<%= platform.get("id") %>" class="platform">
          <% if(platform.getLogoPath() ) {%>
            <img src="<%= platform.getLogoPath()%>">
          <%}else{%>
            <b><%= platform.get("name") %></b>
          <%}%>
        </li>
      <%})%>
    </script>
	
    <script type="text/template" id="roms-collection-template">
      <% _.each(roms, function(rom){%>
        <li id="<%= rom.get("id") %>" class="rom">
          <b><%= rom.get("title") %></b>
        </li>
      <%})%>
    </script>
    

	</body>

  <script type="text/javascript" src="./js/vendor/jquery-1.9.0b1.js"></script>
  <script type="text/javascript" src="./js/vendor/underscore.js"></script>
  <script type="text/javascript" src="./js/vendor/backbone.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</html>
