#romTitle{
  display:none;
}

.rom #title{
  font-size : 1.5em;
}

.rom {
  background-color: rgba(255,255,255,0);
}

#history-container{
  position : fixed;
  bottom : 0%;
  left: 25%;
  width:75%;
  height:50%;  
}

.focus .rom{
  background-color:rgba(0,255,0,0.8);
}

#stats{
  width:25%;
  height:15%;
  top:35%;
  left:25%;
}

#stats:empty{
  display: none;
}

#logoPlatform{
  left:13%;
}

#launcherName{
  left:25%;
}

#images{
  position:fixed;
  width:75%;
  height:50%;
  bottom:50%;
  left:25%;  
  overflow:auto;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-color: rgba(255,255,255,0);
}

