#romTitle{
  position : fixed;
  z-index:20;
  width:100%;
  top:50%;
}

.rom{
  background-color:rgba(250,250,250,1);  
}

.rom #title{
  position:fixed;
  top : 50%;
  background-color:rgba(255,255,255,0.9);  
}

#history-container{  
  position : fixed;
  bottom : 10%;
  left: 40%;
  width:55%;
  height:30%;  
}

#stats{
  width:24%;
  height:13%;
  top:35%;
  left:38%;
  border-radius:6px;
}

#logoPlatform{
  left:0%;
}

#launcherName{
  left:12%;
}

.coverflow .coverflow-cell{
  opacity:.9;
}

.coverflow .coverflow-cell .focus{
  opacity:1;
}

.coverflow .coverflow-cell:hover{
  opacity:1;
}
