<html>
	<head>
		<title>BABB Frontend Prototype</title>
		<link href="css/core_style.css" rel="stylesheet">
	</head>

	<body>
    
    <div id="intro-overlay">
      <img id="intro-logo" src="./images/logo.gif">
    </div>
    		
    <div id="bandana"></div>
    
    <div id="platformContainer"></div>
    
    <div id="platformSelectionContainer"></div>
    
    <script type="text/template" id="roms-collection-template">
      <% _.each(collection, function(rom){%>
        <li id="<%= rom.get("id") %>" class="rom">
          <b><%= rom.get("title") %></b>
        </li>
      <%})%>
    </script>
    
	</body>

  <script type="text/javascript" src="./vendor/jquery-1.9.0b1.js"></script>
  <script type="text/javascript" src="./vendor/underscore.js"></script>
  <script type="text/javascript" src="./vendor/backbone.js"></script>
  <script type="text/javascript" src="./main.js"></script>
</html>
