::-webkit-scrollbar-thumb {
  border-radius:initial;
  -webkit-box-shadow: inset 0 0 10px rgba(0,30,197,1);
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,30,197,0.5);
border-radius: initial;
}


#history-container{
  position: fixed;
  top: 7%;
  left: 31%;
  width: 65.5%;
  height: 38%;
  border-radius: initial;
  background-color: initial;
  color: white;
}
