#bandana.error{
  background-color:rgba(128,0,0,0.9);
}

#bandana.info{
  background-color:rgba(0,0,128,0.9);
}

#bandana.status{
  background-color:rgba(0,128,0,0.9);
  opacity:1;
  text-align: left;
}

#bandana.focus{
  -webkit-transition-duration: 0.5s;
  opacity:1; 
}

#bandana{
  top:5%;
  left:2.5%;
	text-align: center;
  font-size : 2em;
  padding: 5%;
  color : white;
  max-height:75%;
  width : 85%;
  overflow-y:auto;
  position:fixed;
  z-index:1000;
  border-radius:1em 1em 1em 1em / 1em 1em 1em 1em;
  opacity:0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2s;
}