@-webkit-keyframes intro-overlay
{
  0% {
    background-color: black;
    opacity:1;
  }
  50%{
    opacity:1;
  }
  
  100% {
    opacity:0;
  }
}

@-webkit-keyframes intro-logo
{
  0% {opacity:1;}
  
  50%{opacity:1;}
  
  100% {opacity:0;}
}

#intro-logo{
  height:100%;
  width:100%;
  opacity:0;
  -webkit-animation:intro-logo 4s;
}

#intro-overlay{
  #display:none;
  text-align:center;
  pointer-events:none;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;  
  position: fixed;
  z-index:1001; 
  opacity:0%;
  -webkit-animation:intro-overlay 4s;
}