#romTitle{
  position : fixed;
  z-index:20;
  width:100%;
  top:50%;
  text-align:center;
  font-weight:bold;
  font-size : 2em;
  background-color:white;
}

.rom #title{
  position:fixed;
  top : 50%;
  background-color:rgba(255,255,255,0.9);
  width :100%;
}

.rom{
  font-size : 1.5em;
  font-weight: bold;
  width :100%;
  height:100%;
  text-align:center;  
  background-repeat:no-repeat;
  background-size:cover;
}


#platformBody{
  background-image : url('./htmlbg.png');
  width:100%;
  height:100%;
}

#stats{
  z-index:10;
  background-color:rgba(255,255,255,0.8);
  background-image : url('../shared/stats.png');
  background-size: contain;
  background-repeat: no-repeat;
  position:fixed;
  width:24%;
  height:13%;
  top:35%;
  left:38%;
  border-radius:6px;
  overflow:auto;
}


#history-container{  
  position : fixed;
  bottom : 10%;
  border-radius:6px;
  left: 40%;
  background-color:rgba(250,250,250,0.9); 
  width:55%;
  height:30%;
  overflow-y:auto;  
  pointer-events:all;
}

@-webkit-keyframes text-appear
{
  0% {
   -webkit-transform: translate(-10px);
    opacity:0;
  }
  100%{
    -webkit-transform: translate(0px);
    opacity:1;
  }  
}

#history-container .title{
  -webkit-animation:text-appear 0.5s;
}

#history-container .corpus{
  -webkit-animation:text-appear 1s;
}