.coverflow{
  position : relative;
  z-index:2000;
  left : 25%;
  width:500px;
  height:300px;
  background-color: green;
  -webkit-perspective : 750px;
  
}

.coverflow .coverflow-tray{
  position : absolute;
  -webkit-transition: -webkit-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
  left : 50%;
  top : 50%;
  background-color: yellow;
  -webkit-transform-style : preserve-3d;  
}

.coverflow .coverflow-cell{
  position: absolute;
  -webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
  background-color: red;
}