.coverflow{
  position : relative;
  opacity:1;
  overflow:hidden;
  z-index:10;
}

.coverflow .coverflow-wrap{
  position : absolute;
  -webkit-perspective : 750px;
}

.coverflow .coverflow-wrap,
.coverflow .coverflow-tray {
	-webkit-transform-style: preserve-3d;
}

.coverflow .coverflow-tray,
.coverflow .coverflow-cell {
  position : absolute;
  -webkit-backface-visibility: hidden;  
  -webkit-transition: opacity .8s, -webkit-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
}

.coverflow .coverflow-cell{  
  opacity:.9;
  overflow:hidden;
}

.coverflow .coverflow-cell.focus{
  opacity:1;
}

.coverflow .coverflow-cell:hover{
  opacity:1;
}