.rom:hover{
  -webkit-filter: invert(0%);
}

.rom{
  padding: 2px;
  overflow-x:hidden;
  word-wrap: break-word;
  text-align: left;
  vertical-align: top;
}

.rom.focus{
  background-color: rgba(0, 136, 204, 0.46);
  -webkit-border-radius: 4px;
  color: white;
}