.rom:hover {
  -webkit-filter: invert(0%);
}

.platform.unavailable:hover{
  #-webkit-filter: grayscale(100%) blur(2px);  
}

.platform:hover{
  #-webkit-filter: blur(2px);  
}

.platform img{
  width:100%;
  height:auto;  
}

.rom{
  font-size:1em;
  -webkit-transition: font-size 300ms ease;
}

.rom.focus{
  font-size:2em;
  height:3em;
}

.platform.focus img{
  width:100%;
  height:auto;
  -webkit-transition: width 300ms ease;
}

.unavailable{
  -webkit-filter: grayscale(100%);
}

.rom, .platform{
  padding: 2px;
  overflow-x:hidden;
  word-wrap: break-word;  
}
