.rom:hover, .platform:hover{
  -webkit-filter: invert(0%);
}

.rom, .platform{
  padding: 2px;
  overflow-x:hidden;
  word-wrap: break-word;  
}

.rom.focus, .platform.focus{
  background-color: rgba(0, 136, 204, 0.46);
  -webkit-border-radius: 4px;
  color: white;
}