/* no selection by user*/
* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor:default;
  padding:0;
  margin:0;
  font-family: Consolas;
}

input {
  -webkit-user-select: text;
}

html{
	height: 100%;
}

body {    
  background-image: url('../images/htmlbg.png');
  margin: 0px;
  height: 100%;    
}

#dynabody.parallax{
  margin:0%;
  opacity:1;
}

#dynabody{  
  position: fixed;
  z-index:1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  margin-left:5%;
  background-color:transparent;  
  opacity:0.9;
  -webkit-transition-property: background-image, margin, opacity;
  -webkit-transition-duration: 0.5s;
}

img{
  height:100%;
}

#bandana{  
	text-align: center;
  height:5%;
  overflow-y:auto;  
  position:fixed;
  display:none;
}

#roms-container.hidden, #platforms-container.hidden{
  -webkit-transition-duration: 0.5s;
  opacity:0;
  pointer-events:none;
}

#roms-container.focus, #platforms-container.focus{
  -webkit-transform:translateX(0);
  -webkit-transition-duration: 0.5s;
  background-color:rgba(250,250,250,0.9);
  opacity:1;
}

#roms-container, #platforms-container{
  background-color:rgba(250,250,250,0);
  opacity:0.1;  
  -webkit-transition-property: opacity, background-color, -webkit-transform;
  -webkit-transition-duration: 2s;
  overflow-x:hidden;
  overflow-y:auto;
  position: fixed;
  z-index:1000;
}

#platforms-container{
  -webkit-transform:translateX(-50%);
  text-align:left;
  left:0%;
  height:100%;
  width:5%;
  #display:none;
}

.platform img{
  width:100%;
  height:auto;  
}

#roms-container{  
  -webkit-transform:translateX(50%);
  text-align:right;
  top : 5%;
  left:80%;
  height:90%;
  width:20%;
}