/* no selection by user*/
* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor:default;
  padding:0;
  margin:0;
}

input {
  -webkit-user-select: text;
}

html{
	height: 100%;
}

body {
  background-image: url('../images/htmlbg.png');
  margin: 0px;
  height: 100%;  
}

img{
  height:100%;
}

#bandana{
  background-color:rgba(0,0,250,0.9);
	text-align: center;
  height:5%;
  overflow-y:auto;  
}

#roms-container.focus{
  opacity:1;
}

#roms-container{  
  text-align:left;
  background-color:rgba(250,250,250,0.9);  
  opacity:0.1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  width:40%;
  height:90%;
  overflow-x:hidden;  
  overflow-y:auto;
  position: fixed;
  z-index:1000; 
}

#picts-container{
  margin:auto;
  background-color:rgba(250,250,250,0.9);
  text-align:center;  
  width:60%;
  height:60%;
  overflow:hidden;
}

#info-container{  
  margin:auto;
  text-align:left;
  background-color:rgba(250,250,250,0.9);  
  width:60%;
  height:30%;
  overflow-y:auto;  
}
