@-webkit-keyframes pivot-image
{
  0% {
   -webkit-transform: scale(0) rotate(0deg);
    opacity:0.5;
  }
  100%{
    -webkit-transform: scale(1) rotate(-10deg);
    opacity:1;
  }
}

@-webkit-keyframes text-appear
{
  0% {
   -webkit-transform: translate(-10px);
    opacity:0;
  }
  100%{
    -webkit-transform: translate(0px);
    opacity:1;
  }  
}

#dynabody{
  background-image: url('images/mameLogo.png');
}

#info-container,#picts-container{
  position:fixed;
  top:10%;
}

#picts-container{   
  left:50%;
  width:100%;
  opacity:1;
  height:60%;
  overflow:hidden;  
  -webkit-transform: scale(1) rotate(-10deg);
  -webkit-animation:pivot-image 2s;
}

#info-container{  
  border-radius:6px;
  left: 10%;
  background-color:rgba(250,250,250,0.9); 
  width:40%;
  height:80%;
  overflow-y:auto;  
  pointer-events:all;
}

#info-container .title{
  -webkit-animation:text-appear 0.5s;
}

#info-container .corpus{
  -webkit-animation:text-appear 1s;
}


